@tailwind base;
@tailwind components;
@tailwind utilities;

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  border-color: #ffffff00;
  --tw-ring-color: #ffffff00;
}

@font-face {
  font-family: "google_font"; /* Choose a name for your custom font */
  src: url("../public/fonts/google/Roboto-BlackItalic.ttf") format("woff2"); /* Replace YourFontFile with your font file name */
  /* Add additional font formats and sources for cross-browser compatibility */
}

.editor-preview, .markdown-container{
  /* Typography */
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;

  /* Headings */
  h1 {
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
  }

  h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: .875em;
  }

  h6 {
    font-size: .85em;
  }

  /* Links */
  a {
    color: #0366d6;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Code */
  code {
    font-family: 'Courier New', monospace;
    background-color: #f6f8fa;
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    border-radius: 6px;
  }

  /* Blockquotes */
  blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
  }

  /* Lists */
  ul, ol {
    padding-left: 2em;
    list-style: initial;
  }

  /* Images */
  img {
    max-width: 100%;
  }
}